.container {
  display: flex;
  flex: 1;
  margin-bottom: 1em;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.box {
  display: flex;
  flex: 5;
  height: 9em;
  border: 0.5em white solid;
  border-radius: 20px;
  background-color: dimgray;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}